xml/penguins.dtd

<?xml version="1.0" encoding="utf-8"?>

<!ELEMENT article (date, title, email, para, source)>

<!ELEMENT date (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT para (place, company, link)>
<!ELEMENT source (#PCDATA)>
<!ELEMENT place (#PCDATA)>
<!ELEMENT company (#PCDATA)>
<!ELEMENT link (#PCDATA)>
<!ATTLIST link ref CDATA>