xml/penguins.dtd

<?xml version="1.0" encoding="utf-8"?>

<!ELEMENT article (date, title, para*, source)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT para (#PCDATA|place|company|link)* >
<!ELEMENT source (#PCDATA)>
<!ELEMENT place (#PCDATA)>
<!ELEMENT company (#PCDATA)>
<!ELEMENT link (#PCDATA)>
<!ATTLIST link
        ref CDATA "">